body {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: #f9faf8;
  gap: 30px;
  flex: 1;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  gap: 10px;
}

.header-logo {
  margin-right: auto;
}

.container {
  display: flex;
  gap: 20px;
  flex: 1;
  margin-bottom: 35px;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 15px;
}

img {
  width: 200px;
  margin: 5px solid black;
  border-radius: 8px;
}

.gallery,
.descriptions {
  display: flex;
  flex: 1;
  padding: 15px;
  gap: 15px;
  justify-content: space-evenly;
}

.desc {
  width: 200px;
  overflow: auto;
}
