body {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: #f9faf8;
  gap: 30px;
  flex: 1;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.title {
  display: flex;
  padding: 30px;
  margin: 20px;
  gap: 15px;
}

img {
  width: 200px;
  margin: 5px solid black;
  border-radius: 8px;
}

.gallery {
  display: flex;
  padding: 25px;
  gap: 15px;
}
