body {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  gap: 30px;
  flex: 1;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.title {
  display: flex;
  padding: 30px;
  margin: 20px;
  gap: 15px;
}
